name: Build Synexus Plugin

on:
  push:
    branches: [ "main"]
  pull_request:
    branches: [ "main", "0.1.0-BETA" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with ShadowJar
        run: ./gradlew shadowJar

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: DiscordLinkerPro-Build
          path: build/libs/*-all.jar
          retention-days: 5